:root {
    --main-color: #333;
    --alt-color: #666;
    --alt-color-2: #999;
}

*,
.button,
p{
    font-size: 2.0vh;
}

html, body{
    height:100%
}

#footer {
    flex-grow: 0;
    text-align: right;
    padding: 4px 8px;
}





body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    Font-Family: Arial, sans-serif;
    font-size: 3.0vh;
    background: #d6f9ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d6f9ff 0%, #9ee8fa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d6f9ff 0%, #9ee8fa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d6f9ff 0%, #9ee8fa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6f9ff', endColorstr='#9ee8fa', GradientType=0);
    /* IE6-9 */

}


h1 {
    text-align: center;
    font-size: 6vh;
}

h2{
    font-size:5vh
}

h3{
    font-size: 3.75vh
}

h4{
    font-size: 2.5vh
}

img{
    height: 20vh;
    max-height: 450px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1% 1% 1% 1%;
}


#main {
    justify-content: space-around;
    margin: 0;
    height: 100%
}

.flexContainer > div {
    padding: 20px
}

.flexContainer .button {
    margin: 8px 2px
}

.myButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #a6827e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #a6827e;
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
    background: -moz-linear-gradient(top, #666666 5%, #BBBBBB 100%);
    background: -webkit-linear-gradient(top, #666666 5%, #BBBBBB 100%);
    background: -o-linear-gradient(top, #666666 5%, #BBBBBB 100%);
    background: -ms-linear-gradient(top, #666666 5%, #BBBBBB 100%);
    background: linear-gradient(to bottom, #666666 5%, #BBBBBB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#BBBBBB', GradientType=0);
    background-color: #666666;
    border: 1px solid #54381e;
    display: inline-block;
    text-shadow: 0px 1px 0px #4d3534;
    font-size: 3vh;
    color: white;
}

.basicButton{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    padding: 6px 24px;
    text-decoration: none;
    width: 60vw;
    height: 8vh;
    margin: 2vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.myButton2 {
    -moz-box-shadow: inset 0px 1px 0px 0px #ebb71a;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ebb71a;
    box-shadow: inset 0px 1px 0px 0px #ebb71a;
    background-color: #7c25ba;
    border: 1px solid #54381e;
    color: #ffffff;
    text-shadow: 0 1px 0 #4d3534;
}

.myButton3 {
    -moz-box-shadow: inset 0px 1px 0px 0px #3dc21b;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3dc21b;
    box-shadow: inset 0px 1px 0px 0px #3dc21b;
    background-color: black;
    border: 1px solid #54381e;
    color: #ffffff;
    text-shadow: 0px 1px 0px #4d3534;
}


.myButton4 {
    -moz-box-shadow: inset 0px 1px 0px 0px #1c1b18;
    -webkit-box-shadow: inset 0px 1px 0px 0px #1c1b18;
    box-shadow: inset 0px 1px 0px 0px #1c1b18;
    background-color: whitesmoke;
    border: 1px solid #54381e;
    color: black;
}

table {
    padding: 5px;
    font-size: 3.0vh;
}
table#stories{
    width:100%
}

table.listing{
    width: 50vh;
}


th,
td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

textarea {
    width: 90vw;
    padding: 2px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: whitesmoke;
    min-height: 20vh;
    font-size: 3vh;
}

fieldset label,
fieldset input {
    margin: 16px;
}

form{
    margin: 16px 4px;
}

#letzterTeil {
    font-style: italic;
    color: white;
}

#fertigerPart {
    width: 90vw;
    color: white;
    background-color: grey;
    min-height: 10vh;
    margin: 2px;
}

input[type="checkbox"] {
    cursor: pointer;
    border-radius: 1px;
    box-sizing: content-box;
    width: 4vh;
    height: 4vh;
    border-width: 0;
}

input[type="text"],
input[type="password"] {
    width: 45vw;
    height: 5vh;
    min-width: 200px;
    background-color: whitesmoke;
    font-size: 2vh;
    padding: 2px 8px;
}

input[type="submit"] {
    width: 45vw;
    height: 5vh;
    min-width: 200px;
}

@media(min-width: 450px){
    input[type="submit"], input[type="password"] ,input[type="text"] {
        min-width: 400px;
    }
}

select {

    font-size: 3vh;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 50vw;
    padding-left: 10px;
    background-color: dimgrey;
    color: #fff;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    outline: none;

}

