:root{
    --background: #a5d6a7;
}

html{
    height: 100%;
}

img{
    width: auto;
    height: 5em;
}

#header {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /*border-bottom: 2px solid white;*/
    right: 0;
    left: 0;
    top: 0;
}

body {
    height:100%;
    Font-Family: Arial, sans-serif;
    background: var(--background) !important;
}

#flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    min-height: 50%;
    max-width: 700px;
    margin: auto
}

@media(max-width: 576px){
    #flex{
        min-height: 75%;
    }
}

textarea {
    width: 95vw;
}


#storyCarousel{
    width: 80%;
    background: rgba(255,255,255,.4);
    border-radius: 1rem;
}

.carousel-indicators{
    bottom: 0px!important;
}

.waitingFor{
    border: 1px solid var(--secondary);
    margin: 8px;
    border-radius: 1rem;
    flex-grow: 1;
    background: rgba(255,255,255,0.2);
}


.libraryItem{
    border-radius: 1rem!important;
    color: var(--secondary);
    border: 1px solid solid var(--success)!important;
    flex-grow:1;
}

.libraryItem:hover,.libraryItem:focus, .libraryItem:active{;
    color: white;
    background: rgba(40, 167, 69, 0.6);
    text-decoration: none;

}