:root{
    --background: #a5d6a7;
}

html{
    height: 100%;
}

img{
    width: auto;
    height: 5em;
}

#header {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /*border-bottom: 2px solid white;*/
    right: 0;
    left: 0;
    top: 0;
}

body {
    height:100%;
    Font-Family: Arial, sans-serif;
    background: var(--background) !important;
}

#flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

@media(max-width: 576px){
    #flex{
        min-height: 75%
    }
}

textarea {
    width: 95vw;
}

